<!DOCTYPE html>
<html>
<head>
		<%- include header %>

  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<% if(!auth){ %>
	<%- include nav-notlogin.ejs %>
<% } %>

<% if(auth){ %>
	<%- include nav %>
<% } %>



<body>
	


	<div class="container">

			<div class="row">

					<div class="col s12">
		
						
	<% for(item in post){ %>

	

				<div class="col s12 m6 l4">
						<div class="card">
						  <div class="card-image waves-effect waves-block waves-light">
							<a href="/single/<%= post[item].postid %>">
									<img src="<%= post[item].photo %>" class="responsive-img" alt="">
							</a>

							<span id="postAuthor">
									<a href="/users/${data.val().author}"><%= post[item].author %> </a>	
									</span>
							<span id="postLocation">
											<i class="material-icons">location_on</i>
											<a href="/location/${data.val().location}"><%= post[item].location %> </a>
										  </span>		
						  </div>
						</div>
					</div>

		
	
	<% }; %>



		</div>

				
	
	
	
				</div>
	
			</div>
	

</body>
</html>