<!DOCTYPE html>
<html>
<head>
		<%- include header %>

  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<%- include nav %>
<body>
	
		<div class="container">
	<form action="/doup" method="post">
	<input type="text" id='autocompleteLocation'name='Locationcontent' placeholder="選擇地點">
	<div id="map-canvas" style="width:100%; height:200px; display:none;"></div>

	<button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect cyan lighten-2" style="font-size: 25px;font-weight:  600; ">       
			上傳<i class="material-icons right">send</i>                                  
	</button>  
	</form>




<% for(item in single){ %>
    <li>
        <%= single[item].author %>
        <%= single[item].location %>
    </li>
<% }; %>



</div>



</body>
</html>