<!DOCTYPE html>
<html>
<head>
		<%- include header %>

  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<% if(!auth){ %>
	<%- include nav-notlogin.ejs %>
<% } %>

<% if(auth){ %>
	<%- include nav %>
<% } %>

<body>
	
		<div class="container">
			<form action="/comment" method="post">
				<input type="text" name="content" placeholder="填寫留言訊息">
				<input type="hidden" name="postid" value="<%= postid %>" >			
				<input type="hidden" name="name" value="<%= name %>" >
				<input type="submit" valut="送出">
				<%= errors %>
			</form>



<% for(item in single){ %>
    <li></li>
		<%= single[item].user %> : <%= single[item].comment %>     
    </li>
<% }; %>




</div>



</body>
</html>